<app-add-user (userAdded)="onUserAdded($event)"></app-add-user>

<div class="mt-3">
    <h3>Users List :</h3>
    <button class="btn btn-primary" (click)="onNameChanged()">Change Name</button>
    <!-- pour expliquer la méthode ngOnDestroy on va creer un button qui supprime la component user :-->
    <button class="btn btn-danger" (click)="OnDeleteComponent()">
        Delete Component
    </button>
    <app-user *ngFor="let user of usersList" [userName]="user" [name]="name">
        <div #userParagraph>Username : {{user}}</div> 
        <!-- ki tekteb hna haja w tdir f user html le selector ng-content ca fait wech dert hna chghol rak drtou f user, donc hada le reference #userparagraph n9drou nutilisiwh f user ts ok -->
    </app-user> 
    <!--Ou bien: 
    <app-user *ngFor="let user of usersList" [XXXX]="user"></app-user> avec:(voir la ligne 10 dans user-component.ts) --> 

    <!--Ou bien: 
    <app-user *ngFor="let user of usersList" [XXXX]="user"></app-user> avec:(voir la ligne 10 dans user-component.ts) --> 

    <!-- vvvvvvvvv -->
</div>

<!-- ngstyle kona ndirouha b la méthode hadi: -->
<!-- <div [ngStyle]="{'Background-color':'green'}"> Please Add The Background Color Red </div> -->

<!-- en utilisant  Directives ndirou hakda: -->
<!--  <div>  -->
    <!-- <AppHighlightText> Please Add The Background Color Red</AppHighlightText> -->
<!-- </div>  -->
<!-- on a utilisé AppHighlightText as an element parceque selector ta3 la page ts AppHighlightText jay hakda :  selector: 'AppHighlightText', sinon kona 9adrin nutilisiweh ass attribute f hadak le cas nesta3mlouh hakda par ex: <div AppHighlightText>>Please Add The Background Color Red</div> w kayn thani w name class... -->
<div AppHighlightText>AppHighlightText Directive</div>  <!-- as an attribute not as an element -->

<div appRendererHighlight [appRendererHighlight]="'blue'" [hightlightColor]="'orange'">Please Add The Background Color green</div> <!-- as an attribute not as an element -->
<!-- ou bien1 :-->
<!-- <div [appRendererHighlight]="'blue'" [hightlightColor]="'orange'">Please Add The Background Color green</div>  -->
<!-- ou bien2 : -->
<!-- <div appRendererHighlight appRendererHighlight="blue" hightlightColor="orange">Please Add The Background Color green</div> as an attribute not as an element -->


<div>
    <button class="btn btn-warning" (click)="isAvailable= !isAvailable">Toggle condition</button>
</div>

<div *ngIf="isAvailable">Show the div when isAvailable is true</div> 
<!-- ou bien : (en réalité li lfou9 teconverta w tarja3 haka :)-->
<ng-template [ngIf]="isAvailable">
    <div>Show the div when isAvailable is true</div>
</ng-template>
<!-- remarquer que ki ndirou l'appel l directive yla madina le nom ta3o comme un nom de parametre kima hna 
<div appRendererHighlight [appRendererHighlight]="'blue'"....... n9drou nahiw le nom de directive  tab9a tmchi c_t_à dire meme 
hakda tmchi: 
<div [appRendererHighlight]="'blue'" [hightlightColor]="'orange'">Please Add The Background Color green</div>, donc 
men hadi :
<ng-template [ngIf]="isAvailable">
    <div>Show the div when isAvailable is true</div>
</ng-template>
n9drou nafhmou beli ngIf hia une page directive li rah ndiroulha appel b le nom ta3ha ngIf w nmdoulha comme parametre :
[ngIf]="isAvailable" mais bech nkhtasrou nktbouha hakda : <div *ngIf="isAvailable">Show the div when isAvailable is true</div>  
-->
 
<!-- on va créer directive de condition personalisé (appAlternateIf): -->
<div *appAlternateIf="isAvailable">
    this condition enables with cutome directive
</div> 

<div [ngSwitch]="value">
    <div *ngSwitchCase="10">Value is 10</div>
    <div *ngSwitchCase="15">Value is 15</div>
    <div *ngSwitchDefault>Value is default</div>
</div>