<!-- <p>users works!</p> -->

<!-- <div> -->
    <!-- <a routerLink="/categories"> Got To Categires </a> , ou bien :--> 
    <!-- <button (click)="onCategoriesClick()"> Got To Categires </button> -->
<!-- </div> -->

<!-- <a  -->
<!-- [routerLink]="['/users', 1, 'leela']" -->
<!-- [queryParams]="{page : 1, search: 'leela'}" -->
<!-- [fragment]="'loading'"> -->
<!-- Get Leela Details -->
<!-- </a> -->

<ul class="nav flex-column">
    <li class="nav-item" *ngFor="let user of usersData">
        <a [routerLink]="['/users', 1, 'Rama']" [queryParams]="{page: 1, search: user}" class="nav-link">
            Get {{user | Shorten:3 }} Détails
        </a> 
    </li>
    <!-- <li>
        <a [routerLink]="['/users', 2, 'Krishna']" [queryParams]="{page: 1, search: 'Krishna'}" class="nav-link">Get Krishna Détails</a>
    </li>
    <li>
        <a [routerLink]="['/users', 3, 'Leela']" [queryParams]="{page: 1, search: 'Leela'}" class="nav-link">Get Leela Détails</a>
    </li> -->
</ul>

<div>
    <button type="button" class="btn btn-warning" (click)="onUserAddedClick()">User Added</button>
<div>
    <router-outlet></router-outlet> 
</div>

<!-- <router-outlet></router-outlet> = Child Root : Pour indiquer l'emplacement d'insertion du child Component -->
