<app-add-user (userAdded)="onUserAdded($event)"></app-add-user>

<div class="mt-3">
    <h3>Users List :</h3>
    <button class="btn btn-primary" (click)="onNameChanged()">Change Name</button>
    <!-- pour expliquer la méthode ngOnDestroy on va creer un button qui supprime la component user :-->
    <button class="btn btn-danger" (click)="OnDeleteComponent()">
        Delete Component
    </button>
    <app-user *ngFor="let user of usersList" [userName]="user" [name]="name">
        <div #userParagraph>Username : {{user}}</div> 
        <!-- ki tekteb hna haja w tdir f user html le selector ng-content ca fait wech dert hna chghol rak drtou f user, donc hada le reference #userparagraph n9drou nutilisiwh f user ts ok -->
    </app-user> 
    <!--Ou bien: 
    <app-user *ngFor="let user of usersList" [XXXX]="user"></app-user> avec:(voir la ligne 10 dans user-component.ts) --> 

    <!--Ou bien: 
    <app-user *ngFor="let user of usersList" [XXXX]="user"></app-user> avec:(voir la ligne 10 dans user-component.ts) --> 

    <!-- vvvvvvvvv -->
</div>

<!-- ngstyle kona ndirouha b la méthode hadi: -->
<!-- <div [ngStyle]="{'Background-color':'green'}"> Please Add The Background Color Red </div> -->

<!-- en utilisant  Directives ndirou hakda: -->
<!--  <div>  -->
    <!-- <AppHighlightText> Please Add The Background Color Red</AppHighlightText> -->
<!-- </div>  -->
<!-- on a utilisé AppHighlightText as an element parceque selector ta3 la page ts AppHighlightText jay hakda :  selector: 'AppHighlightText', sinon kona 9adrin nutilisiweh ass attribute f hadak le cas nesta3mlouh hakda par ex: <div AppHighlightText>>Please Add The Background Color Red</div> w kayn thani w name class... -->
<div AppHighlightText>Please Add The Background Color Red</div>  <!-- as an attribute not as an element -->
<div appRendererHighlight>Please Add The Background Color green</div>  <!-- as an attribute not as an element -->