<div class="container">
  
  <!-- <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary" (click)="onLoginClick()" [ngStyle]="{'background-color':'red'}" type="submit">Login</button>
      <button class="btn btn-primary" (click)="onLogoutClick()" [ngStyle]="{'background-color':'red'}" type="submit">Logout</button>
    </div>
  </div> hadou nahinahom f la video_105 donc ki theb tchouf kifech kona nkhdmou m3a les button hadou f hadouk les video can activate w ga3 telecharger mn git une version 9bal la video 105-->
  
  <div class="row">
    <div class="col-md-3">
      <App-Navigation></App-Navigation>
    </div>
    <div class="col-md-9"> 
      <div class="row">
        <div class="col-md-12"> 

              <!-- quand on click sur le button User Added qui se trouve dans users ce text va s'afficher en utilisant Subject RXjS : -->
        <div *ngIf="userAdded">
            User Added Button Click 
        </div>
          <!-- <app-home></app-home>
          <app-users></app-users>
          <app-categories></app-categories> -->
          <router-outlet></router-outlet> 
          <!-- : Pour indiquer l'emplacement d'insertion du composant, il faut utiliser la directive <router-outlet> directement dans le "root component" AppComponent -->
        </div>
      </div>
    </div>
  </div>
</div>
